body {
  background-color: #B6B6B6;

}

header h1 {
  float: left;

  }

header ul {
  float: right;
}

 header li {
 display: inline-block;
 border: 1px solid black;
 border-radius: 10px;
 text-align: center;
 padding: 0 2em;
 margin-left: .25em;

}


}
h1, h2 {
  font-family: 'Raleway', sans-serif;
}
main {
  border: 1px solid black;
  clear: both;
}




main ul {
  width: 25%;
  float: left;
}
li {
  display: inline-block;
}
main ul img {
  width: 95%;
}

figure img {
  width: 10em;
  height: 10em;
}
figure {
  border: 1px solid black;
  padding: 1em;
}
figcaption {
  text-align: left;
  font-style: italic;
}
a img.large_image {
  display: none;

}
img.large_image {
  width: 35%;
 margin-top: 3%;
 margin-right: 25%;
}
a:hover img.large_image{
  display: block;
  position: fixed;
   right: 2em;
   top: 5em;
   border: 1px dashed black;
   padding: .5em;
   cursor: crosshair;
}
footer {
  clear: both;
  text-align: center;
}
